{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Scavenger Hunt{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>What you'll do</h3>

        <p>
            There'll be QR Codes around campus that contain clues to your next location. 
            Use your device to scan the QR codes or enter the binary number underneath each QR Code. 
            As you play, your progress will be tracked. Can you get the lowest time?
        </p>

    </div>

    <div class="col">
        <h3>How you'll do it</h3>

        <p>
            You can play solo or compose a group of up to 4 players. 
            Use each other's skills to complete the tasks. Good Luck!
        </p>


    </div>
</div> 


{% endblock %}